<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../../layout/header.ejs') %>
  <body class="d-flex flex-column min-vh-100">

    <!--INICIO CONTAINER CABECALHO-->
    <div class="row text-center mt-5">
      <div class="col-12">
        <h4>1ª Rodada PDI</h4>
      </div>
      <div class="col-12">
        <p>Lista de servidores interessados ao PDI.</p>
      </div>
    </div>
    <!--FIM CONTAINER CABECALHO-->

    <!--INICIO TABELA COM TODOS OS DADOS DO SERVIDOR-->
    <div class="content">
      <!--INICIO BUSCAS SERVIDOR (QUANTIDADE E MATRICULA)-->
      <div class="content-input-select container-input-select">
      
        <div class="d-flex">
          <input 
            placeholder="Digite a matrícula do servidor"
            style="border: solid 1px #2b29af; border-radius: 7px 0px 0px 7px; min-width: 250px; max-width: 315px; background-color: #FFF;"
            type="text"
            class="form-control color-input"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
          />
          <button class="btn" style="float: left; margin-left: -25px; background-color: #FFF; border-radius: 0px 7px 7px 0px; border: solid 1px #2b29af;">
            <img src="../../../../assets/img/lupa1.png" style="width: 15px" />
          </button>
        </div>

        <div class="d-flex">

          <!--INICIO FORM ESCOLHER A QUANTIDADE DE ELEMENTOS-->
 
          <form action="/sistemas/pdi/elegiveis/pagina/1" method="get" class="bordaPesquisaForm">
            
            <select id="limit" name="limit" class="form-control ajusteSelect">
              <option value="10" <%= limit == '10' ? 'selected' : '' %>>Ver 10 servidores</option>
              <option value="20" <%= limit == '20' ? 'selected' : '' %>>Ver 20 servidores</option>
              <option value="50" <%= limit == '50' ? 'selected' : '' %>>Ver 50 servidores</option>
              
            </select>
            <button type="submit" id="btnHover" class="btn ajusteButtonPesquisa"><i class="bi bi-search" style="color: #2b29af;"></i></button>
          </form>
        
          <!--FIM FORM ESCOLHER A QUANTIDADE DE ELEMENTOS-->
         
          <!--INICIO BOTÃO GERAR RELATÓRIO-->
        

          <a class="btn btn-success" href="/sistemas/pdi/relatorios" style="margin-left: 5px">Exportar <i class="bi bi-file-ruled"></i> </a>
          
          <!--FIM BOTÃO GERAR RELATÓRIO-->

        </div>
      </div>
      <!--FIM BUSCAS SERVIDOR (QUANTIDADE E MATRICULA)-->
      
      <div class="table-content table-responsive mt-3">
        <table class="rtable table text-center table-striped ">
          <thead class="color-input align-middle">
            <th class="cabecalho text-center">Matrícula</th>
            <th class="cabecalho text-center">Nome</th>
            <th class="cabecalho text-center">Cargo</th>
            <th class="cabecalho text-center">Tempo</th>
            <th class="cabecalho text-center">Data de admissão</th>
            <th class="cabecalho text-center">Referência</th>
            <th class="cabecalho text-center">Sal. Referência</th>
            <th class="cabecalho text-center">PDI</th>
          </thead>
          <tbody class="realceLinha">
            <% resultado.funcionarios.rows.forEach(funcionario => { %>
            <tr>
              <td><%= funcionario.matricula %></td>
              <td class="text-primary fw-bold"><%= funcionario.nome %></td>
              <td><%= funcionario.cargoEfetivo %></td>
              <td><%= funcionario.tempoServico %> anos</td>
              <td><%= new Date(funcionario.dataAdmissao).toLocaleDateString('pt-BR', {day: '2-digit', month: '2-digit', year: 'numeric'}) %></td>
              <td><%= funcionario.referencia %></td>
              <td><%= funcionario.salarioEfetivo.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
              <% const REFERENCIA_R5 = 2255 %>
              <% const TEMPO_SERVICO_MAX = 35 %>
              <% const INCENTIVO_MAX = REFERENCIA_R5 * TEMPO_SERVICO_MAX %>
              <% let resultado = funcionario.tempoServico * funcionario.salarioEfetivo %>
              <% if (resultado <= INCENTIVO_MAX) {%>
              <td class="text-danger fw-bold"><%= resultado.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
              <%} else {%>
              <% let resultado = REFERENCIA_R5 * TEMPO_SERVICO_MAX %>
              <td class="text-danger fw-bold"><%= resultado.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
              <%}%>
            </tr>
            <%})%> 
          </tbody>
        </table>
      </div>

      <label style="float: right;">Quantidade de interessados: <span style="font-weight: 500;"><%=resultado.totalFuncionarios%></span></label>

    </div>
    <!--FIM TABELA COM TODOS OS DADOS DO SERVIDOR-->

      <!--INICIO PAGINAÇÃO-->
      <nav aria-label="Page navigation example" class="mt-2">
        <ul class="pagination pagination justify-content-center">
          <li class="page-item">
            <% if (resultado.paginacao > 1){ %>
            <a class="page-link text-purple" href="/sistemas/pdi/elegiveis/pagina/<%=resultado.paginacao - 1%>?limit=<%= limit %>"><span aria-hidden="true">&laquo;</span></a>
            <% } else if (resultado.paginacao == 1) { %><%}%>
          </li>

          <li class="page-item">
            <% if (resultado.next) { %>
            <a class="page-link text-purple" href="/sistemas/pdi/elegiveis/pagina/<%= resultado.paginacao + 1 %>?limit=<%= limit %>"><span aria-hidden="true">&raquo;</span></a>
            <% } %>
          </li>
        </ul>
      </nav>
      <!--FIM PAGINAÇÃO-->

      <br />

      <!--MODAL DE DETALHES DO SERVIDOR-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-purple" id="exampleModalLabel">Detalhes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div role="alert" id="alertSuccess">
              <div class="form-group mb-3 container-box">
                <div class="w-100 p-3 box-info border border-muted rounded detalhe-modal-sal">
                  <div class="text-dark">Data de admissão</div>
                  <div class="text-dark fw-bold">14/03/2023</div>
                </div>
                <div class="w-100 p-3 box-info border border-muted rounded">
                  <div class="text-dark text-left">Tempo de serviço</div>
                  <div class="text-dark fw-bold text-left">35 anos</div>
                </div>
              </div>

              <div class="form-group mb-3 container-box">
                <div class="w-100 p-3 box-info border border-muted rounded detalhe-modal-sal">
                  <div class="text-dark">Ref. Salário:</div>
                  <div class="text-danger fw-bold">(CF-2) R$ 2.150</div>
                </div>
                <div class="w-100 p-3 box-info border border-muted rounded">
                  <div class="text-dark">Indenização:</div>
                  <div class="d-flex text-danger fw-bold">R$ 75.250,00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/paginacao.js"></script> 
  <%- include('../../layout/footer.ejs') %>
</html>
